*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face{
    font-family:bold;
    src:url("../fonts/Lato-Bold.ttf");
    
    
}

@font-face{
    font-family:thin;
    src:url("../fonts/Lato-Thin.ttf");
    
    
}

@font-face{
    font-family:medium;
    src:url("../fonts/Lato-Medium.ttf");
    
    
}

body{
    background-image: linear-gradient(to top left,#753682 0%,#bf2e34 100%);
    background-position: center;
    background-size: cover;
    font-family: medium;
    height: 100vh;
    position: relative;
    color: #555;    
}

.wrapper{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;   
    width: 1000px;
    transform: translate(-50%,-50%);
    box-shadow: 0px 10px 60px rgba(0,0,0,0.10);
}

.player-0-panel{
    float: left;
    width: 50%;
    height:600px;
    padding: 100px;
    text-align: center;
    
    
}

.player-1-panel{
    float: right;
    width: 50%;
    height:600px;
    padding: 100px;
    text-align: center;
    
    
}

.player-name{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 100;
    position: relative;
    text-transform: uppercase;
    
    
}

.active .player-name::after{
    content: "\2022";
    font-size:47px;
   color:#eb4d4d;
    position: absolute;
   bottom:40px;
    right: 30px;
   width: 20px;
    height: 18px;
   
    
    
}   

.player-score{
    margin-bottom: 130px;
    
    font-weight: 100;
    color:#eb4d4d;
    font-size: 80px;
    
   
}

.active{
    background-color: #f7f7f7;
    
}

.active,.player-name{
    font-weight: 300;
    
}

.player-current-box{
    margin-bottom: 10px;
    text-transform: uppercase;
    background-color: #eb4d4d;
    color:#fff;
    font-weight: 40%;
    padding: 12px;
    margin: 0 auto;
    width: 40%;
    
}

.player-current-label{
    color:#222;
    font-size: 12px;
    text-transform: uppercase;
    
}

button{
    position: absolute;
    left:50%;
    width: 200px;
    color: #555;
    border: none;
    font-family:thin;
    background: none;
    text-align: center;
    font-size:20px;
    text-transform: capitalize;
    cursor: pointer;
    text-decoration: none;
    transform: translateX(-50%);
    
    
}

button:hover{
    font-weight:300;
}

.btn-new{
    top:45px;
    
}

.btn-roll{
    top: 403px;
    
}

.btn-hold{
    top: 467px;
}

.dice-1{
    position: absolute;
    left: 50%;
    top: 178px;
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0,0,0,0.10);
    width:auto;
    transform: translateX(-50%);
    
}

.winner{
    background-color: #f7f7f7;
    
}

.winner .player-name{
    font-weight: 300;
    color:  #eb4d4d;;
    
}

